.App {
  width: 100%;
}

.letter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  height: 200px;
  color: white;
}

.letter-container button {
  margin-top: 2em;
  height: 30px;
  border: none;
  
}