.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(122, 0, 0);
    color: white;
    height: 60px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav a:hover {
    color: rgb(255, 142, 142);
}